body {
    background-color: #0d0208;
    color: #00ff41;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

#terminal {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    border: 2px solid #00ff41;
    padding: 20px;
    box-shadow: 0 0 20px #00ff41;
}

#output {
    height: 400px;
    overflow-y: auto;
    white-space: pre-wrap;
    margin-bottom: 20px;
}

#input-line {
    display: flex;
}

#prompt {
    margin-right: 10px;
}

#input {
    background-color: transparent;
    border: none;
    color: #00ff41;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    width: 100%;
}

#input:focus {
    outline: none;
}
